<!DOCTYPE html>
<html>
   <head>
      <title>Price Calculator</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link type = "text/css" rel = "stylesheet" href = "Sherpa_Lhakpa.css" />
     
   </head>
   <body>
        <script src="Calculator.js"></script>
      <div id="nav">
         <ul>
            <li id="AO2">AO3 Sherpa Lhakpa </li>
            <li><a href="/Sherpa_Lhakpa">Home</a></li>
            <li><a href="/Calculator">Calculator</a></li>
            <li><a href="/Contact">Contact</a></li>
            <li><a href="guestbook">Guestbook</a></li>
            <li><a href="new-entry">New-entry</a></li>
         </ul>
      </div>
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                    <form class = "active">
                            <h1>Lets calculate the price of item</h1>
                            
                            <h3> Price of item:</h3>
                            <input type="text" id="a1" >
                            <h3> Number of item:</h3>
                            <input type="text" id="a2">
                            <h3> Discount on item:</h3>
                            <input type="text" id="a3"><br><br>
                            <button type="button"  onclick="calculation()" onclick="myFunction()"> Calculate</button>
                            <p id = "Calculate"></p>
                         </form>
              </div>
          </div>
      </div>
     
    
   </body>
</html>