<!DOCTYPE html>
<html>
   <head>
      <title>Contact</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link type = "text/css" rel = "stylesheet" href = "Sherpa_Lhakpa.css" />
   </head>
   <body>
   <div id="nav">
      <ul>
                <li id="AO2">AO3 Sherpa Lhakpa </li>
         <li><a href="/Sherpa_Lhakpa">Home</a></li>
         <li><a href="/Calculator">Calculator</a></li>
         <li><a href="/Contact">Contact</a></li>
         <li><a href="guestbook">Guestbook</a></li>
         <li><a href="new-entry">New-entry</a></li>
      </ul>
   </div>
   <div class="container-fluid">
           <form method="POST" role="form">
                   <form method="POST" action="contact" role="form">
           <div class="row">
                   <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                                <div class="contactData">
                                                <h3> Enter your first name:</h3>
                                                <input type="text" id="a1">
                                                <h3> Enter your second name:</h3>
                                                <input type="text" id="a2"><br>
                                                <label for="userEmail"><h3>Your Email:</h3></label>
                                                <input type="text" class="form-control" id="userEmail" name="userEmail" placeholder="Enter Your Email Address" required>
                                               <br>
                                                <label for="content"><h3> Enter Your Message:</h3></label>
                                                <textarea class="form-control" id="body" name="body" rows="4" cols="4" required></textarea><br>
                                                <Button type="submit" value="Submit" class="btn btn-primary"> Post Message </Button>
                                        </div>
                   </div>
                         
           </div>
           </form>
   </div>
 
   <div id = "contact">
                <h3>You can link me on:</h3>
                <a href="https://www.linkedin.com/in/lhakpa-sonam-sherpa-933606128/"><img src="linkden.png" width=90 height=75></a> 
                <a href="https://github.com/s525286"><img src="github.jpg" width=90 height=75></a> 
                <a href="https://bitbucket.org/s525286/"><img src="bitbucket.jpg" width=90 height=75> 
                </div>
   </body>
</html>