
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>M07 Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link type = "text/css" rel = "stylesheet" href = "/guestbook.css" />
</head>
<body class="container">
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right" id ="guestbook">
Write in the guestbook
</a>
</h1>
<div id="nav">
        <ul>
           <li><a href="/Sherpa_Lhakpa">Home</a></li>
           <li><a href="/Calculator">Calculator</a></li>
           <li><a href="/Contact">Contact</a></li>
           <li><a href="guestbook">Guestbook</a></li>
           <li><a href="new-entry">New-entry</a></li>
        </ul>
     </div>



