<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link type = "text/css" rel = "stylesheet" href = "Sherpa_Lhakpa.css" />
      <title> Lhakpa </title>
   </head>
   <body>
      <div id="nav">
         <ul>
             <li id="AO2">AO3 Sherpa Lhakpa </li>
            <li><a href="/Sherpa_Lhakpa">Home</a></li>
            <li><a href="/Calculator">Calculator</a></li>
            <li><a href="/Contact">Contact</a></li>
            <li><a href="guestbook">Guestbook</a></li>
            <li><a href="new-entry">New-entry</a></li>
         </ul>
         
      </div>
      <div class="container-fluid">
         <div class = "row">
            <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6">
               <img src="sss.jpg" class="img-circle" alt="Cinque Terre" width="150" height="150" style="margin-top:10px;margin-left:1px"> <br><br>
               <div>
                  <br><iframe width="520" height="300" src="https://www.youtube.com/embed/ReJLL66mnCs" ></iframe>
               </div>
            </div>
            <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6">
               <h1> <b> About Myself </b> </h1>
               <h2 id="background" > <i> Background </i> </h2>
               <p class="background1">I am from Pangboche, Nepal. I am a junior.<br> My major is Computer and Information Science.<br>
                  This summer I got an opportunity to do an internship in Boston as an automation tester.<br>
                  This was my first experience working in the field of technology 
               </p>
               <h2 id="plans"> <i> Plans </i> </h2>
               <p class="plans1"> I am interested to work as a web developer.<br>
                  And I want to excel in HTML, CSS, and MEAN stack to fulfill my career goal.
               </p>
               <h2 id="interests"> <i> Interests </i> </h2>
               <p class="interests1">I am interested in Java and JavaScript. I like traveling and visiting new places.<br>
                  I am also a big fan of soccer and I follow English Premier League.<br>
                  I am an adventurous person and my hobbies are trekking, skiing, bouldering and rock climbing.
               </p>
            </div>
         </div>
      </div>
   </body>
   <footer>
      <p class="footer">Submitted By: Lhakpa S. Sherpa</p>
   </footer>
   </body>
</html>