
*{
	font:"Times New Roman";
    color: rgb(58, 8, 8);
}

body{
	background-image: url("guestbook.jpg");
	background-repeat: repeat-x;
	margin: 10px;
	padding: 10px;
	background-attachment: fixed;
	background-size: cover;
	font-size: 17px;
	font-family: 'Times New Roman', Times, serif;
	background-color: white;
}

h1{
    font-family: verdana;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 80px;
	text-decoration: none;
}

 